[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
requests = "*"
pandas-ta = "*"
xgboost = "*"
numpy = "*"
yahooquery = "*"
pytz = "*"
pandas-market-calendars = "*"
pywavelets = "*"
umap = "*"
matplotlib = "*"
plotly = "*"
statsmodels = "*"
seaborn = "*"
pyemd = "*"
emd-signal = "*"

[dev-packages]

[requires]
python_version = "3.9"
